<h1>{{title}}</h1>
<app-catalogue></app-catalogue>
  <!-- <nav class="docs-component-viewer-tabbed-content mat-tab-nav-bar mat-primary" mat-tab-nav-bar="">
    <div class="mat-tab-links">
      <a class="docs-component-viewer-section-tab mat-tab-link ng-star-inserted mat-tab-label-active" mat-tab-link="" routerlinkactive=""
        aria-disabled="false" tabindex="0" href="">overview</a>
      <a class="docs-component-viewer-section-tab mat-tab-link ng-star-inserted" mat-tab-link="" routerlinkactive=""
        aria-disabled="false" tabindex="0" href="">api</a>
      <a class="docs-component-viewer-section-tab mat-tab-link ng-star-inserted" mat-tab-link="" routerlinkactive=""
        aria-disabled="false" tabindex="0" href="">examples</a>
       <mat-ink-bar class="mat-ink-bar" style="visibility: visible; left: 0px; width: 160px;"></mat-ink-bar> 
    </div>
  </nav> -->
